table {
  background: #fff;
  margin: 0;

  tbody {
    tr {
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        box-shadow: 0 0 8px rgba(34, 25, 25, 0.8) inset;
      }

      td {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        &:hover{
          .history-ops{
            display: block;
          }
        }
      }
    }

    .history-ops {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: none;

      .operation-del, .operation-edit{
        float: right;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        color: black;
        padding: 8px 4px;
        box-sizing: border-box;
        transition: all .2s ease-in-out;
        opacity: .6;
        &:hover{
          opacity: 1;
          transform: scale(1.2);
        }
      }
      .operation-del{
        background: #f2dede;
      }
      .operation-edit{
        background: #dff0d8;
      }
    }
  }
}

& {
  border-radius: 5px;
  overflow: hidden;
}
