<table class="table table-condensed mb0 {{customCls}}">
  <thead>
    <tr>
      <th>总收入</th>
      <th>总支出</th>
      <th>合计</th>
    </tr>
  </thead>
  <tbody>
    <tr class="warning">
      <td>{{total.inComes}}</td>
      <td>{{total.outComes}}</td>
      <td>{{total.sum}}</td>
    </tr>
  </tbody>
</table>
