@note-header-height: 6.45%;
@page-path: "../img/page_saw.png";
@page-width: image-width(@page-path);
@page-height: image-height(@page-path);

body,
html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;

    &.bg_p5 {
        background-color: #a89aff;
    }

    .note {
        width: 100%;
        height: 100%;
        margin: auto;

        .note_header {
            height: @note-header-height;
            background-image: url("../img/note_header_100.png");
            background-size: 100% 100%;
            position: relative;
        }

        .note_body {
            width: 100%;
            height: 100% - @note-header-height;
            background-image: url("../img/note_body_2pages_100.png");
            background-size: 100% 100%;
            position: relative;

            .body_content {
                width: 96.1%;
                height: 100%;
                margin: auto;
                position: relative;

                .saw {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: visible;
                    background-image: url("../img/header_saw_narrow.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    z-index: 9;
                }

                .page-container {
                    z-index: 8;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .page {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        // background-color: #fff8f3;
                        background: url("../img/page_saw.png") center center no-repeat;
                        background-size: 100% 100%;
                        transform-origin: 0 0;
                        box-sizing: border-box;
                        overflow: hidden;

                        &.page2 {
                            padding-top: 18.34%;
                            padding-left: 18.34%;
                            @p2-left: percentage(126 / @page-width);
                            @p2-top: percentage(130 / @page-height);

                            span {
                                color: #f94d3f;
                            }

                            .p2_paragraph1 {
                                position: absolute;
                                left: @p2-left;
                                top: @p2-top;
                            }

                            .p2_paragraph2 {
                                position: absolute;
                                left: @p2-left;
                                top: percentage(316 / @page-height);
                            }

                            .p2_paragraph3 {
                                position: absolute;
                                left: @p2-left;
                                top: percentage(986 / @page-height);
                            }

                            .p2_v_line {
                                position: absolute;
                                left: percentage(95 / @page-width);
                                top: percentage(220 / @page-height);
                                .calc-pic-width-percentage( "../img/p2_v_line.png", @page-width);
                                .calc-pic-height-percentage( "../img/p2_v_line.png", @page-height);
                            }

                            .p2_earliest {
                                position: absolute;
                                top: percentage(210 / @page-height);
                                .calc-pic-width-percentage( "../img/p2_earliest.png", @page-width);
                                .calc-pic-height-percentage( "../img/p2_earliest.png", @page-height);
                            }

                            .p2_pic {
                                position: absolute;
                                left: percentage(116 / @page-width);
                                top: percentage(528/@page-height);
                                .calc-pic-width-percentage( "../img/p2_pic.png", @page-width);
                                .calc-pic-height-percentage( "../img/p2_pic.png", @page-height);
                            }

                            .p2_latest {
                                position: absolute;
                                top: percentage(892 / @page-height);
                                .calc-pic-width-percentage( "../img/p2_latest.png", @page-width);
                                .calc-pic-height-percentage( "../img/p2_latest.png", @page-height);
                            }
                        }

                        &.page3 {
                            padding-top: 18.34%;
                            padding-left: 18.34%;
                            @p3-left: percentage(130 / @page-width);
                            @p3-top: percentage(130 / @page-height);

                            span {
                                color: #f94d3f;
                            }

                            .p4_thisyear {
                                position: absolute;
                                left: @p3-left;
                                top: @p3-top;
                                .calc-pic-width-percentage( "../img/f_p4_thisyear.png", @page-width);
                                .calc-pic-height-percentage( "../img/f_p4_thisyear.png", @page-height);
                            }

                            .p3_paragraph1 {
                                position: absolute;
                                left: @p3-left;
                                top: percentage(220 / @page-height);
                            }

                            .p3_paragraph2 {
                                position: absolute;
                                left: @p3-left;
                                top: percentage(388 / @page-height);
                            }

                            .p3_paragraph3 {
                                position: absolute;
                                left: @p3-left;
                                top: percentage(910 / @page-height);
                            }

                            .f_p3_formed {
                                position: absolute;
                                left: @p3-left;
                                top: percentage(300 / @page-height);
                                .calc-pic-width-percentage( "../img/f_p3_formed.png", @page-width);
                                .calc-pic-height-percentage( "../img/f_p3_formed.png", @page-height);
                            }

                            .p3_pic {
                                position: absolute;
                                left: percentage(92 / @page-width);
                                top: percentage(510 / @page-height);
                                .calc-pic-width-percentage( "../img/p3_pic.png", @page-width);
                                .calc-pic-height-percentage( "../img/p3_pic.png", @page-height);
                            }
                        }

                        &.page4 {
                            padding-top: 18.34%;
                            padding-left: 18.34%;
                            @p4-left: percentage(126 / @page-width);
                            @p4-top: percentage(130 / @page-height);
                            @p4-paragraph-left: percentage(94 / @page-width);

                            span {
                                color: #f94d3f;
                            }

                            .p4_thisyear {
                                .calc-pic-width-percentage(  "../img/f_p4_thisyear.png", @page-width);
                                .calc-pic-height-percentage(  "../img/f_p4_thisyear.png", @page-height);
                            }

                            .p4_paragraph1 {
                                position: absolute;
                                left: @p4-paragraph-left;
                                top: percentage(232 / @page-height);
                            }

                            .p4_paragraph2 {
                                position: absolute;
                                left: @p4-paragraph-left;
                                top: percentage(322 / @page-height);
                            }

                            .p4_paragraph3 {
                              position: absolute;
                              left: @p4-paragraph-left;
                              top: percentage(414 / @page-height);
                            }
                            .p4_paragraph4 {
                              position: absolute;
                              left: @p4-left;
                              top: percentage(830 / @page-height);
                            }

                            .p4_pic {
                                // width: e(replace(%("%d%", image-width("../img/p4_pic.png")/ @page-width * 100), "px", ""));
                                // height: e(replace(%("%d%", image-height("../img/p4_pic.png")/ @page-height * 100), "px", ""));
                                position: absolute;
                                top: percentage(432 / @page-height);
                                left: percentage(110 / @page-width);
                                .calc-pic-width-percentage(  "../img/p4_pic.png", @page-width);
                                .calc-pic-height-percentage(  "../img/p4_pic.png", @page-height);
                            }
                        }

                        &.page5 {
                            padding-top: 18.34%;
                            padding-left: 18.34%;
                            font-size: 0.346rem;
                            @p5-left: percentage(130 / @page-width);
                            @p5-top: percentage(130 / @page-height);

                            p {
                                margin: 0.017rem 0;
                            }

                            span {
                                color: #f94d3f;
                            }

                            .p5_paragraph1 {
                              position: absolute;
                              left: @p5-left;
                              top: @p5-top;
                            }

                            .p5_paragraph2 {
                              position: absolute;
                              left: @p5-left;
                              top: percentage(388 / @page-height);
                            }

                            .part2 {
                                width: 61.07%;
                                border-top: 2px dashed #dcae90;
                                border-bottom: 2px dashed #dcac90;
                            }

                            .f_gain_zb {
                              position: absolute;
                              left: @p5-left;
                              top: percentage(462 / @page-height);

                                .calc-pic-width-percentage(  "../img/f_gain_zb.png", @page-width);
                                .calc-pic-height-percentage(  "../img/f_gain_zb.png", @page-height);
                            }

                            .p5_paragraph3 {
                                  position: absolute;
                                  left: @p5-left;
                                  top: percentage(584 / @page-height);
                            }

                            .f_total_gain {
                              position: absolute;
                              left: @p5-left;
                              top: percentage(664 / @page-height);
                                .calc-pic-width-percentage(  "../img/f_total_gain.png", @page-width);
                                .calc-pic-height-percentage(  "../img/f_total_gain.png", @page-height);
                            }

                            .zb_coins_x {
                              position: absolute;
                              left: @p5-left;
                              top: percentage(724 / @page-height);
                                .calc-pic-height-percentage(  "../img/zb_coins_x.png", @page-height);
                                .calc-pic-width-percentage(  "../img/zb_coins_x.png", @page-width);
                            }

                            .coins-number{
                              position: absolute;
                              left: percentage(210 / @page-width);
                              top: percentage(734 / @page-height);
                            }
                            .p5_pic{
                              position: absolute;
                              left: percentage(188 / @page-width);
                              top: percentage(730 / @page-height);
                              .calc-pic-height-percentage(  "../img/p5_pic.png", @page-height);
                              .calc-pic-width-percentage(  "../img/p5_pic.png", @page-width);

                            }
                        }

                        &.top,
                        &.top-index {
                            z-index: 99999;
                        }

                        &.floor-index {
                            z-index: 0;
                        }

                        &.z-index-1 {
                            z-index: 1;
                        }

                        &.z-index-2 {
                            z-index: 2;
                        }

                        &.z-index-3 {
                            z-index: 3;
                        }

                        &.z-index-4 {
                            z-index: 4;
                        }

                        &.z-index-5 {
                            z-index: 5;
                        }

                        &.z-index-6 {
                            z-index: 6;
                        }

                        &.z-index-7 {
                            z-index: 7;
                        }
                    }
                }
            }
        }
    }
}
// 自扩展函数

.calc-pic-width-percentage(@path, @parent-width) {
    width: e(replace(%("%d%", image-width(@path)/ @parent-width * 100), "px", ""));
}

.calc-pic-height-percentage(@path, @parent-height) {
    height: e(replace(%("%d%", image-height(@path)/ @parent-height * 100), "px", ""));
}

.calc-percentage(@numerator, @denominator) {
    @retVal: percentage(@numerator/@denominator);
    // mixin中定义的变量，可以作为返回值，在外部获取
}
// 动画
.rotate {
    animation: rotateAnimation 1.6s 1;
    -webkit-animation: rotateAnimation 1.6s 1;
    animation-fill-mode: forwards;
}
@keyframes topX() {
    from {
        top: 0;
    }

    to {
        top: 20px;
    }
}
@rotate-deg: 3deg;
@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(@rotate-deg);
    }
}
@-webkit-keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(@rotate-deg);
    }
}
