<div class="tools clearfix">

  {{#each tools as |tool|}}
    <div class="tool" {{action tool.action}}>
      <div class="tool-icon">
        <i class="iconfont {{tool.iconCls}}"></i>
      </div>
      <div class="tool-desc">
        {{tool.title}}
      </div>
    </div>
  {{/each}}
</div>
