<div class="left minh400x col-sm-3 mb20">
  {{apps/jizhang/left-panel}}
</div>
<div class="center minh800x col-sm-6 mb20">
  {{outlet}}
</div>
<div class="right minh600x col-sm-3 mb20">
  {{apps/jizhang/right-panel}}
</div>
