body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  color: #00B7FF;
}
body #content {
  width: 800px;
  margin: auto;
}
body #content #room {
  background-color: #ddd;
  margin-bottom: 1em;
}
body #content #messages {
  width: 690px;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}
body #room-list {
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;
}
body #room-list div {
  border-bottom: 1px solid #eee;
}
body #room-list div:hover {
  background-color: #ddd;
}
body #send-message {
  width: 700px;
  margin-left: 1em;
  margin-right: 1em;
}
body #help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
